.u-icon{ background:url("u-icon.png") top left no-repeat; }
.task_1_9_1_r6_c2{ width:12px; height:12px; background-position:-10px -10px; }
.task_1_9_1_r4_c2{ width:11px; height:12px; background-position:-10px -32px; }
.task_1_9_1_r2_c2{ width:12px; height:11px; background-position:-10px -54px; }

